.swipy-slider{
	display: none;
}
.blox_element_center {
    width:100%;
    display:block;
    text-align:center;
}
/*	Gallery
*/
.blox_gallery{
    text-align: center;	
}
.blox_gallery .gallery_preview{
	display: none;
}
.blox_gallery.gallery_layout2 .gallery_preview{
	display: block;
	text-align: center;
	background-color: #333;
	margin-bottom: 10px;
	border: 1px solid #ededed;
	background-color: #f6f6f6;
	padding: 5px;
}
.blox_gallery .gallery_preview .preview_panel{
	position: relative;
	min-height: 100px;
	display: block;
}
.blox_gallery .gallery_preview .preview_panel img{
	width: 100%;
}
.blox_gallery .gallery_preview .preview_panel .thumb{
	display: block;
}
.blox_gallery .gallery_preview .preview_panel .hover i{
	position: relative;
	top: 49%;
	color: #fff;
	font-size: 22px;
}
.blox_gallery .gallery_preview a{
	
}

.blox_gallery .gallery_thumbs{
	
}
.blox_gallery .gallery_thumbs .thumb{
	position: relative;
	line-height: 0px;
	display: inline-block;
	width: 100%;
}
.blox_gallery .gallery_thumbs a{
	display: inline-block;
	border: 1px solid #ededed;
	padding: 5px;
	line-height: 0px;
	background-color: #f6f6f6;
	position: relative;
	margin: 1%;
}
.blox_gallery .gallery_thumbs a img{
	width: 100%;
}
.blox_gallery .gallery_preview .preview_panel .hover,
.blox_gallery .gallery_thumbs .hover{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,180,203, 0.8);
	top: 0px;
	left: 0px;
	text-align: center;
	display: none;
	-webkit-transition: all 0.25s ease-out;
}
.blox_gallery .gallery_thumbs .hover i{
	position: relative;
	top: 48%;
	color: #fff;
	font-size: 18px;
}
.blox_gallery .gallery_preview .preview_panel a:hover .hover,
.blox_gallery .gallery_thumbs a:hover .hover{
	display: block;
}


/* Layout - 2 */
.blox_gallery.gallery_layout2{

}
.blox_gallery.gallery_layout2 .gallery_thumbs{
	display: block;
	text-align: center;
}
.blox_gallery.gallery_layout2 .gallery_thumbs .thumb{
	width: 50px;
}
.blox_gallery.gallery_layout2 .gallery_thumbs .hover i{
	font-size: 14px;
	top: 38%;
}


/* Layout - iMac */
.blox_gallery.gallery_imac,
.blox_gallery.gallery_laptop,
.blox_gallery.gallery_iphone{
	position: relative;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
}
.blox_gallery.gallery_imac .gallery_prev,
.blox_gallery.gallery_laptop .gallery_prev,
.blox_gallery.gallery_iphone .gallery_prev{
	font-size: 1.8em;
	position: absolute;
	left: 0px;
	top: 50%;
	margin-top: -1.8em;
}
.blox_gallery.gallery_imac .gallery_next,
.blox_gallery.gallery_laptop .gallery_next,
.blox_gallery.gallery_iphone .gallery_next{
	font-size: 1.8em;
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -1.8em;
}

.blox_gallery.gallery_laptop .gallery_prev,
.blox_gallery.gallery_laptop .gallery_next{
	margin-top: 0px;
}
.blox_gallery .gallery_viewport{
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left: 0px;
}
.blox_gallery .gallery_viewport > div{
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left: 0px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center top;
}

/* Blox Gallery Layout slider */
.blox_gallery.gallery_layout_slider{
	display: block;
	border: 1px solid #ededed;
	background-color: #f6f6f6;
	padding: 5px;
	margin-bottom: 20px;
	position: relative;
}
.blox_gallery.gallery_layout_slider .gallery_preview{
	display: block;
}
.blox_gallery.gallery_layout_slider .gallery_preview img{
	width: 100%;
}
.blox_gallery.gallery_layout_slider .gallery_pager{
	position: absolute;
	bottom: 25px;
	display: block;
	text-align: center;
	width: 100%;
	z-index: 100;
}
.blox_gallery.gallery_layout_slider .gallery_pager span{
	display: inline-block;
	border-radius: 50%;
	border: 3px solid #cdcdcd;
	background-color: #fff;
	color: #fff;
	line-height: 0px;
	padding: 4px;
	width: 9px;
	height: 9px;
	margin-right: 3px;
	margin-left: 3px;
	cursor: pointer;
}
.blox_gallery.gallery_layout_slider .gallery_pager span.cycle-pager-active{
	border-color: #00b4cc;
}









/*** Blox Testimonials ***/
.blox_testimonial{
	position: relative;
}
.blox_testimonial .testimonial_wrapper{
	position: relative;
}
.blox_testimonial .testimonial_item{

}
.blox_testimonial .testimonial_item .testy_desc{
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-style: italic;
	font-size: 16px;
	line-height: 1.5em;
	padding: 40px;
	background-color: #ededed;
	margin-bottom: 25px;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
}
.blox_testimonial .testimonial_item .testy_meta{
	padding-left: 12px;
}
.blox_testimonial .testimonial_item .img{
	width: 40px;
	height: 40px;
	overflow: hidden;
	display: block;
	border-radius: 50%;
	border: 1px solid #ededed;
	float: left;
	margin-right: 10px;
	margin-top: -3px;
}
.blox_testimonial .testimonial_item .img img{
	width: 100%;
}
.blox_testimonial .testimonial_item .author{
	
}
.blox_testimonial .testimonial_item .author h3{
	font-size: 1em;
	margin: 0px;
}
.blox_testimonial .testimonial_item .author > span{
	font-size: 0.8em;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}
.blox_testimonial .testimonial_item .position{
	
}
.blox_testimonial .testimonial_item .company{
	font-weight: bold;
}

.blox_testimonial .testy_actions{
	position: absolute;
	bottom: 14px;
	right: 12px;
	z-index: 100;
}
.blox_testimonial .testy_actions a{
	display: inline-block;
	background-color: #f6f6f6;
	padding: 5px 8px;
	border: 1px solid #ededed;
	line-height: 0px;
	font-size: 9px;
}

.blox_testimonial.single_color{

}
.blox_testimonial.single_color .testimonial_item .testy_desc{
	position: relative;
}
.blox_testimonial.single_color .testimonial_item .testy_desc::after{
	content: '';
	position: absolute;
	bottom: -8px;
	left: 23px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8px 8px 0 8px;
	border-color: rgba(0,0,0,0.2) transparent transparent transparent;
}



.blox_testimonial.full_color{
	border-width: 1px;
	border-style: solid;
}
.blox_testimonial.full_color .testimonial_item .testy_desc{
	background-color: transparent;
	box-shadow: none;
	margin-bottom: 0px;
}
.blox_testimonial.full_color .testimonial_item .testy_meta{
	padding-bottom: 10px;
	padding-top: 15px;
	padding-left: 40px;
	background-color: rgba(0,0,0,0.2);
	position: relative;
}
.blox_testimonial.full_color .testimonial_item .testy_meta:after{
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: rgba(0,0,0,0.2);
	border-width: 8px;
	left: 50%;
	margin-left: -8px;
}
.blox_testimonial.full_color .testy_actions{
	bottom: 18px;
}
.blox_testimonial.full_color .testy_actions a{
	background-color: rgba(0,0,0,0.1);
	border-color: rgba(255,255,255,0.5);
}

.blox_testimonial.full_color.dark .testimonial_item .testy_meta{
	background-color: rgba(255,255,255,0.2);
}
.blox_testimonial.full_color.dark .testimonial_item .testy_meta:after{
	border-bottom-color: rgba(255,255,255,0.2);
}









/* Blox Fullwidth Row */
.blox-row-fullwidth{
	visibility: hidden;
	position: relative;
	padding-top: 65px;
	padding-bottom: 15px;
}


/* Blox Row Background Video */
.row_video_wrapper{
	position: relative;
	overflow: hidden;

}
.row_video_wrapper .row_video{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.row_video_wrapper .row_video video{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
.row_video_wrapper .mk-section-video .mejs-container .mejs-controls,
.row_video_wrapper .mejs-overlay-loading{
	display: none!important;
}
.row_video_wrapper .row_background{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}



.blox-gmap img{
    max-width: none !important;
    max-height: none !important;
}
.blox-element-socials span {
	box-sizing: initial;
}