@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1100px;  
	} 
}

@media only screen and (max-width: 1199px) {
    .boxed > .layout-wrapper,.boxed > .layout-wrapper #header {
        width: 100%;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

@media only screen and (max-width: 991px) {
	.primary.section .col-md-9 .content {
		border-bottom: 3px double #ecf0f1;
	}
	.navbar-fixed-top {
		position: relative;
	}
	#header_spacing {
		display: none !important;
	}
	.admin-bar #header {
		margin-top: 0;
	}
	.single-post .grid-loop article {
		margin-bottom: 60px;
	}
	.not-found-container {
		margin-bottom: 40px;
	}
}
@media screen and (max-width: 782px) {
	.admin-bar #header {
		margin-top: 0px;
		z-index: 500;
	}
}
@media screen and (max-width: 600px) {
	.navbar-fixed-top, .navbar-fixed-bottom {
		position: relative;
		margin-bottom: 0;
	}
	.admin-bar #header {
		margin-top: 0px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.col-sm-6.col-md-3 .blox-element > *:last-child, .col-sm-6.col-md-3  .blox-element:last-child {
		margin-bottom: 50px;
	}
	.woocommerce .col-md-12 ul.products li.product, .woocommerce-page .col-md-12 ul.products li.product,
	.blox-woocommerce .woocommerce ul.products li.product,
	.blox-woocommerce.woo-3 .woocommerce ul.products li.product {
		width: 33.33333333333333% !important;
	}
	.woocommerce .col-md-12 ul.products li.first, .woocommerce-page .col-md-12  ul.products li.first,
	.blox-woocommerce .woocommerce ul.products li.first {
		clear: none !important;
	}
	.navbar-inverse .navbar-nav>li>a {
		font-size: 13px;
	}
	.page-title.section, .primary.section .content, .primary.section .sidebar {
		padding: 60px 0;
	}
	.primary.section .content > .row > .col-md-12 > .fullwidth-portfolio:last-child {
		margin-bottom: -61px !important;
	}
	.primary.section .content > .row > .col-md-12 > .blox-row-fullwidth:last-child, .primary.section .content > .row > .col-md-12 > .fullwidth-portfolio:last-child {
		margin-bottom: -61px;
	}
	.primary.section .content > .row > .col-md-12 > .blox-row-fullwidth:first-child,.primary.section .content > .row > .col-md-12 > .fullwidth-portfolio:first-child {
		margin-top: -61px;
	}
	.primary.section .content > .row > .col-md-12 > .blox-row-fullwidth:first-child:last-child,.primary.section .content > .row > .col-md-12 > .fullwidth-portfolio:first-child:last-child {
		margin-top: -61px;
		margin-bottom: -61px !important;
	}
	.single-portfolio .entry-media, .single-portfolio .video-wrapper {
		margin-bottom: 60px;
	}
	.page-title.section h1 {
		font-size: 2.5em;
	}
	.page-title.section p.lead, .author .page-title.section .item-author p {
		font-size: 1.35em;
	}
}


@media only screen and (min-width:768px) {
    .navbar>.container .navbar-brand {
    	margin-left: 0px;
    }
}


@media only screen and (max-width: 767px) {
	.container {
		max-width: 481px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.blox-element.blog .col-xs-12, .blox-element.portfolio .col-xs-12 {
		width: 50%;
	}
	.blox-element > *:last-child, .blox-element:last-child {
		margin-bottom: 50px;
	}
	.row > div:last-child > .blox-element:last-child,
	.row > div:last-child > .blox-element:last-child > *:last-child,
	.portfolio.grid-loop .row div:last-child article, .blog.grid-loop .row > div div:last-child article  {
		margin-bottom: 0 !important;
	}
	.blox-element:last-child, .blox-element:first-child:last-child {
		margin-bottom: 50px;
	}
	.comment-list > li.comment ul.children {
		margin-left: -80px;
	}
	.top-bar, .top-bar-right.text-right {
		text-align: left;
	}
	.top-bar .top-bar-left {
		margin-bottom: 1em;
	}
	.animate {
		opacity: 1;
	}
	.animated {
		-webkit-animation-duration: 0s;
		   -moz-animation-duration: 0s;
		     -o-animation-duration: 0s;
		        animation-duration: 0s;
		-webkit-animation-delay: 0s;
		   -moz-animation-delay: 0;
		     -o-animation-delay: 0s;
		        animation-delay: 0s;
	}
	#footer.section {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	#footer [class^="col-"], #footer [class*=" col-"] {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.gototop {
		bottom:15px;
		right:15px
	}
	.top-bar-left .topbar-item, .top-bar-right .topbar-item, .top-bar-right {
		float: none;
		margin-left: 0;
		margin-right: 0;
	}
	.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2,
	.woocommerce div.product div.images, .woocommerce-page div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page #content div.product div.images,
	.woocommerce div.product div.summary, .woocommerce-page div.product div.summary, .woocommerce #content div.product div.summary, .woocommerce-page #content div.product div.summary,
	.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
	.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
		width: 100% !important;
		float: none !important;
	}
	.woocommerce table.cart img, .woocommerce-page table.cart img, .woocommerce #content table.cart img, .woocommerce-page #content table.cart img,
	.portfolio-controls {
		display: none;
	}
	.col2-set .col-2:first-child {
		padding-bottom: 30px;
		border-bottom: 1px solid #ecf0f1;
		margin-bottom: 30px;
	}
	.woocommerce .col-md-12 ul.products li.product, .woocommerce-page .col-md-12 ul.products li.product,
	.woocommerce .col-md-9 ul.products li.product, .woocommerce-page .col-md-12 ul.products li.product,
	.blox-woocommerce .woocommerce ul.products li.product,
	.blox-woocommerce.woo-3 .woocommerce ul.products li.product,
	.blox-woocommerce.woo-2 .woocommerce ul.products li.product {
		width: 50% !important;
	}
	.woocommerce .col-md-9 ul.products li.first, .woocommerce-page  .col-md-9 ul.products li.first,
	.blox-woocommerce .woocommerce ul.products li.first {
		clear: none !important;
	}
	.page-title.section, .primary.section .content, .primary.section .sidebar {
		padding: 40px 0 !important;
	}
	
	.primary.section .content > .row > .col-md-12 > .fullwidth-portfolio:last-child {
		margin-bottom: -41px !important;
	}
	.primary.section .content > .row > .col-md-12 > .blox-row-fullwidth:last-child, .primary.section .content > .row > .col-md-12 > .fullwidth-portfolio:last-child {
		margin-bottom: -41px;
	}
	.primary.section .content > .row > .col-md-12 > .blox-row-fullwidth:first-child,.primary.section .content > .row > .col-md-12 > .fullwidth-portfolio:first-child {
		margin-top: -41px;
	}
	.primary.section .content > .row > .col-md-12 > .blox-row-fullwidth:first-child:last-child,.primary.section .content > .row > .col-md-12 > .fullwidth-portfolio:first-child:last-child {
		margin-top: -41px;
		margin-bottom: -81px !important;
	}
	.single-portfolio .entry-media, .single-portfolio .video-wrapper {
		margin-bottom: 40px;
	}
	.page-title.section h1 {
		font-size: 2em;
	}
	.page-title.section p.lead, .author .page-title.section .item-author p {
		font-size: 1.2em;
	}
	.blox-element.blog .col-xs-12, .blox-element.portfolio .col-xs-12 {
		width: 100%;
	}
	
}


/* iPad fixes */
@media only screen and (min-device-width: 481px) and (max-device-width: 1025px) {
	
}

/* iPad landscape fixes */
@media only screen and (min-device-width: 481px) and (max-device-width: 1025px) and (orientation:landscape) {
	
	
	
}


/* full width portfolio*/
@media only screen and (min-width: 1600px) {
	body:after {
		content: 'five';
		display: none;
	}
	
	
	
}

@media only screen and (min-width: 1300px) and (max-width: 1600px) {
	

	
}

@media only screen and (min-width: 990px) and (max-width: 1300px) {
	
	
	
}

@media only screen and (min-width: 470px) and (max-width: 990px) {
	.primary .col-md-9.pull-right {
		float: none !important;
		clear: right;
	}
}

@media only screen and (max-width: 470px) {
	.primary .col-md-9.pull-right, .woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count,
	.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
		float: none !important;
		clear: right;
	}
	.woocommerce .col-md-12 ul.products li.product, .woocommerce-page .col-md-12 ul.products li.product,
	.woocommerce .col-md-9 ul.products li.product, .woocommerce-page .col-md-12 ul.products li.product,
	.blox-woocommerce .woocommerce ul.products li.product,
	.blox-woocommerce.woo-3 .woocommerce ul.products li.product,
	.blox-woocommerce.woo-2 .woocommerce ul.products li.product,
	.blox-woocommerce.woo-1 .woocommerce ul.products li.product,
	
	.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
		width: 100% !important;
	}
	.blox-woocommerce .woocommerce ul.products li.product.last:last-child {
		margin-bottom: 0 !important;
	}
	.woocommerce-result-count, .woocommerce-ordering {
		display: block;
		text-align: center;
	}
	ul.pagination.pull-left {
		display: none;
	}
	ul.pagination.pull-right {
		float: none !important;
		text-align: center;
		display: block;
	}
	.not-found-container {
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: 50px;
	}
	.blox-element:last-child, .blox-element:first-child:last-child {
		margin-bottom: 30px;
	}
}

/* Video shortcode responsive */
video{ width: 100%; height: 100%; max-width: 100%; }
.wp-video{width: 100% !important;}